{% extends "generic/base.html" %}
{% load static %}

{% block content %}
<section class="quote-list container">
    <h2>Your Quotes</h2>
    {% for quote in quotes %}
    <div class="quote-single">
        <p>Name: {{ quote.name }}</p>
        <p>Model: {{ quote.model_name }}</p>
        <p>Date Created: {{ quote.date_created }}</p>
        <button id="detail-button"><a href="{% url "quote_detail" id=quote.id %}">View Quote Detail</a></button>
    </div>
    {% endfor %}
</section>
{% endblock content %}