{% extends "generic/base.html" %}

{% block content %}

<h3>{{quote.name}}</h3>

<ul id="details">
  <li>Model: {{quote.model_name}}</li>
  <li>Engine: {{quote.engine}}</li>
  <li>Exterior Color: {{quote.exterior_color}}</li>
  <li>Interior Package: {{quote.interior_color}}</li>
  <li>Wheels: {{quote.wheels}}</li>
  <li>Audio System: {{quote.audio_system}}</li>
  <li>Manufacture Cost: {{quote.manufacture_cost}}</li>
  <li>Quoted Sell Price: {{quote.quoted_price}}</li>
  <li>Date Created: {{quote.date_created}}</li>
  <li>Date Modified: {{quote.date_modified}}</li>
</ul>

{% endblock content %}
