{% extends 'generic/base.html' %}
{% load static %}

{% block content %}
<div class="about_us_page">
<h1 class="us" id="about-us">The My MRP Team</h1>
<div id="container">
    <section id="section1">
        <div class="card-container">
            <div class="card">
            <div class="side"><img class="about_img" src="{% static "austin.jpg" %}" alt="Austin"></div>
            <div class="side back"><p>"Hailing from the Emerald City of Angels that Never Sleeps, Austin is excited to bring the perspectives of three corners of the US of A together in the software development space. He brings an eclectic nature, from hipster music tastes, to foreign films, to even tarot cards. Can you tell he has a background in theatre? Hit him up to collaborate!"</p>
            <p class="contact-infromation">Contact Information</p> 
            <a class="about_a" href="https://www.linkedin.com/in/brandonholderman/">LinkedIn</a>
            <a class="about_a" href="bhold6160@gmail.com">Email</a>
            <a class="about_a" href="https://github.com/bhold6160">GitHub</a>
            </div>
            </div>
        </div>
    </section>
        
    <section id="section2">
        <div class="card-container">
        <div class="card">
            <div class="side"><img class="about_img" src="{% static "george.jpg" %}" alt="George"></div>
            <div class="side back"><p>"Hey, my name is George Ceja and I am a software developer. Just a few months ago I was a high school student leading the robotics club in an annual competition.  Now I am a full-Stack Python developer building applications that are scalable for wide public use. Which I find fascinating because it allows me to create applications that can shape and improve people's daily life."</p>
            <p class="contact-infromation">Contact Information</p> 
            <a class="about_a" href=https://www.linkedin.com/in/george-sky//>LinkedIn</a>
            <a class="about_a" href="net.george.sky@gmail.com">Email</a>
            <a class="about_a" href="https://github.com/GeorgeCloud">GitHub</a>
            </div>
        </div>
        </div>
    </section>
        
    <section id="section3">
    <div class="card-container">
        <div class="card">
        <div class="side"><img class="about_img" src="{% static "steve.jpg" %}" alt="Steve"></div>
        <div class="side back"><p>"I'm Steve Starwalt. I'm a Software Developer, Command Master Chief, and Manufacturer. The power of technology has started a worldwide revolution that is changing people's lives in positive ways. Putting that imense into eveyone's hands is the force beghind this revolution.  Software developers are the people leading this revolution and I want to make tools for people to transform their lives and the world."</p>
            <p class="contact-infromation">Contact Information</p> 
            <a class="about_a" href=https://www.linkedin.com/in/steven-starwalt//>LinkedIn</a>
            <a class="about_a" href="s.r.starwalt@gmail.com">Email</a>
            <a class="about_a" href="https://github.com/steveflys">GitHub</a>
            </div>
        </div>
    </div>
    </section>
</div>
</div>

{% endblock content %}