<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyMRP</title>
</head>
<body>
  <header>
    <nav>
      <h1 id="main-title">My MRP</h1>
      <ul id="main_nav">
        <li><a href="{% url "home" %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url "auth_logout" %}">Logout</a></li>
        {% else %}
        <li><a href="{% url "registration_register" %}">Signup</a></li>
        <li><a href="{% url "auth_login" %}">Signin</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
  </main>
  <footer>

  </footer>

</body>
</html>
