<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "reset.css" %}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Boogaloo|Fira+Sans+Extra+Condensed|Permanent+Marker|Titan+One" rel="stylesheet">
  <link href="{% static "base.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "layout.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "modules.css" %}" rel="stylesheet" type="text/css" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyMRP</title>
</head>
<body>
  <header>
    <nav class="nav-bar">
      <img id="logo" src="{% static "logo1.png" %}" alt="logo">
      <h1 id="main-title">My MRP</h1>
      <ul id="main_nav">
        <li><a class="sky" href="{% url "home" %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a class="sky" href="{% url "auth_logout" %}">Logout</a></li>
        {% else %}
        <li><a class="sky" href="{% url "auth_login" %}">Signin</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
  </main>
  <footer>

  </footer>

</body>
</html>
