{% extends 'generic/base.html' %}
{% load static %}

  {% block content %}
  {% if user.is_authenticated %}
  <body>
    <h1 id="welcome">Welcome to your dashboard, {{ user.username }}</h1>
    <div class="left-box">
        <button id="list"><a href="{% url "quote_list" %}">My Quotes</a></button>
    </div>
    <div class="right-box">
    <button id="create"><a href="{% url "select_model" %}">Create a New Quote</a></button>
    <img id="pie-chart" src="{% static "popular_models.png" %}" height="350" width="500">
    </div>
  </body>
    {%else%}
    <h1 id="anon-welcome">Welcome to My MRP!</h1>
    {% endif %}

{% endblock %}
