.about_us_page {
  position: absolute;
  top: 120px;  
  height: 90%;
  }
  
  .us {
    height: 100%;
    margin-bottom: 35px;
    padding: 0;
    /* background: rgb(6, 247, 38) linear-gradient(to bottom right, rgb(45, 90, 236), rgb(197, 196, 143)); */
    font-family: 'Boogaloo', cursive;
    background-attachment: fixed;
  }
  
  #about-us {
    margin-top: 1%;
    text-align: center;
    color: rgb(27, 32, 46);
    font-size: 40px;
  }
  
  #container {
    text-align: center;
    max-width: 100%;
    margin: 0px auto;
  }
  .about_us_page section {
    margin: 20px;
  }
  
  #section1 {
    position: static;
    display: inline-block;
  }
  #section2 {
    display: inline-block;
  }
  #section3 {
    display: inline-block;
  }
  #section4 {
    display: inline-block;
  }
  .card-container {
    cursor: pointer;
    height: 400px;
    perspective: 600px;
    width: 400px;
  }
  .card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  
  .card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }
  .card .back {
    background: rgba(0,0,0, .7);
    color: rgb(52, 156, 134);
    line-height: 23px;
    text-align: center;
    transform: rotateY(180deg);
    filter: grayscale(0%);
    font-size: 15px;
    padding-top: 20px;
  }
  
  .about_img {
    max-width: 90%;
    height: 90%;
    border-radius: 25px;
    }
  
  .contact-infromation {
    color: rgb(52, 156, 134);
    padding: 10px;
    font-size: 14px;
  }
  
  .about_us_page a:link {
    color:  rgb(52, 156, 134);
  }
  
  .about_us_page a:visited {
    color: rgb(52, 156, 134);
  }
  
  .about_us_page .links {
   line-height: 12px;
   padding-bottom:2px;
  }
  
  .about_a {
    padding-left: 2px;
    padding-right: 2px;
  }