body {
    background-color: black;
    position: relative;
    color: bisque;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}


a {
    text-decoration: none;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}


/* font-family: 'Permanent Marker', cursive;
font-family: 'Titan One', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Fira Sans Extra Condensed', sans-serif; */