[Unit]
Description=django mrp
After=network.target

[Service]
Environment="DEBUG="
Environment="SECRET_KEY={{ secret_key }}"
Environment="DB_NAME={{ db_name }}"
Environment="DB_USER={{ db_user }}"
Environment="DB_PASSWORD={{ db_password }}"
Environment="DB_HOST={{ db_host }}"
Environment="ALLOWED_HOSTS={{ server_dns }} localhost"
Environment="DJANGO_SETTINGS_MODULE=my_mrp.production"

User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/management-resource-planning/my_mrp
ExecStart=/home/ubuntu/ENV/bin/gunicorn --access-logfile - -w 3 -b 127.0.0.1:8000 my_mrp.wsgi

[Install]
WantedBy=multi-user.target
